/* w3.css font sizes
w3-tiny 10px
w3-small 12px
w3-medium 15px
w3-large 18px
w3-xlarge 24px
w3-xxlarge 36px
w3-xxxlarge 48
w3-jumbo 64px

/* Changed Line 170 in w3.css
from:
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
to:
.w3-black,.w3-hover-black:hover{color:#F9F6F4!important;background-color:#282727!important}
/* Changed Lines 51,52 in w3.css
from:
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#ccc;color:#000}
to:
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:#282727;color:#F9F6F4}

/* Changed Lines 53,54 in w3.css
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
  .w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
to:
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-dropdown-content{cursor:auto;color:#F9F6F4;background-color:#282727;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}


/* Color palette */
.text-dark-brown{color:#282727}
.color-dark-brown{background-color:#282727}
.text-green{color:#597814}
.color-green{background-color:#597814}
.text-lt-green{color:#bdc949}
.color-lt-green{background-color:#bdc949}
.text-grayish-brown{color:#434141}
.color-grayish-brown{background-color:#434141}
.text-light{color:#F9F6F4}
.color-light{background-color:#F9F6F4}
.text-sand{color:#C7C7C7}
.color-sand{background-color:#C7C7C7}
.text-lt-gray{color:#B3B3B3}
.color-lt-gray{background-color:#B3B3B3}

/* Center webpage */
.w3-content {
  max-width:980px;
  margin:auto
}

/* Default page font */
html, body {
  font-family: Roboto, Arial, serif;
  font-size: 20px;
  height: 100%;
  line-height: 1.5;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1;
  margin: 20px 0;
  color:#597814;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 {font-size: 36px}
h2 {font-size: 30px}
h3 {font-size: 24px}
h4 {font-size: 20px}
h5 {font-size: 18px}
h6 {font-size: 16px}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}
/* Remove bullets and padding from unordered list */
a {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent li elements from going outside of the list. */
}

/* Custom Padding */
.w3-padding-16 {
  padding-top:16px;
  padding-bottom:16px;
}
.w3-padding-18 {
  padding-top:18px;
  padding-bottom:18px;
}
.w3-padding-40 {
  padding-top:40px;
  padding-bottom:40px;
}

/* Navigation*/
.w3-bar a {
  display: inline;
  text-decoration: none;
}
.w3-dropdown-content button, a {
  color:#F9F6F4;
  background-color:#282727;
}
.color-dark-brown,.hover-dark-brown:hover {
  color:#F9F6F4;
  background-color:#282727;
}

button.w3-button:hover {
  color:#F9F6F4;
  background-color:#282727;
}
.w3-dropdown-content a {
  color:#F9F6F4;
  background-color:#282727;
}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover {
  background-color:#282727;
  color:#F9F6F4;
}
.w3-hover-lime:hover{color:#bdc949!important;background-color:#282727!important}
.w3-text-lime,.w3-hover-text-lime:hover{color:#bdc949!important}

/* Extracted from https://www.w3schools.com/lib/w3-theme-black.css */
.w3-theme-d2 {
  color:#F9F6F4;
  background-color:#282727;
}

/* Hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/oaktree-750.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-heading {
  width: 778px;
  height: 55px;
  object-fit: contain;
  font-family: Georgia;
  font-size: 48px;
  text-align: center;
  color: white;
}
.hero-text {
  font-family: Roboto;
  font-size: 34px;
  letter-spacing: 0.5px;
  text-align: center;
  color: white;
}

/* Card */
.card-container {
  height: 500px;
  object-fit: contain;
}

/* MEDIA QUERIES */

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body { font-size: 16px; }

  .hero-heading h1  {
    width: auto;
    font-size: 30px;
    object-fit: contain;
  }
  .hero-text h2  {
    width: 100%;
    font-size: 24px;
  }
  .w3-container {
      padding:4px 0px;
    }
  .w3-image {
      width: 100%;
      height: auto;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {

}
